/* Slide Show */

.box-slide {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 60%;
    margin: auto;
    overflow: hidden;
}

.imgs-slide {
    display: flex;
}

.imgs-slide img {
    max-width: 100%;
}

#btn-prev, #btn-next {
    position: absolute;
    cursor: pointer;
    top: 49%;
    z-index: 19;
}

#btn-prev {
    left: 2%;
}

#btn-next {
    right: 2%;
}
