<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alerts</title>
    <link rel="stylesheet" href="../css/hare.css">

    <style>

        .alert {
            border-radius: 10px;
            padding: .4rem;
            position: absolute;
            right: 1rem;
            top: 5%;
        }

    </style>

</head>
<body class="gray d-flex jc-center">
    
    <button class="btn btn-lg">Clique</button>

    <!-- Alerts -->
    <div class="alert success">
        <span>Este é um exemplo de alerta !</span>
    </div>

    <script>

    </script>

</body>
</html>





