<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hare UI - Tests</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/hare.css">

</head>
<body>
    <!-- GRID -->
    <div class="row txt-white">
        <div class="col-3 sm-6 green">Col</div>
        <div class="col-6 sm-2 blue">Col</div>
        <div class="col-3 sm-4 red">Col</div>
        <!-- <div class="col-2 sm-1 cyan">Col</div>
        <div class="col-2 sm-1 gray">Col</div>
        <div class="col-2 sm-1 green">Col</div> -->
    </div>

</body>
</html>










