<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navbar</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/hare.css">
    <link rel="stylesheet" href="../css/hare-colors.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body class="whitesmoke">
    <!-- Navbar -->
    <nav class="navbox nav-fixed cyan">
        <!-- Brand -->
        <a href="#" class="nav-brand">Hare CSS</a>
        <!-- Links -->
        <div class="nav-list">
            <ul>
                <li class="nav-item">
                   <a href="#" class="nav-link">Download</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Documentação</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Sobre</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Github</a>
                </li>
            </ul>
        </div>
        <!-- Buttons -->
        <div class="box-burger">
                <img src="../imgs/menu.png" id="toggle-menu" alt="">
        </div>
    </nav>
    <div class="box mt-2">
        <p class="txt-gray fz-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi animi suscipit corporis architecto, saepe eum, aut eligendi accusantium atque doloribus rem magnam expedita sint natus nihil quo quis omnis. Tempore!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, sint. In, aliquam repudiandae qui temporibus voluptatibus fuga numquam eaque voluptatum ex corporis ullam asperiores perspiciatis quis, a fugit nostrum quod?
            Iste, odio repudiandae totam nesciunt illo maiores ut itaque dignissimos magni doloremque eius quibusdam sapiente rerum sunt nihil ratione vitae nobis similique. Incidunt iusto eos cum! Repellendus voluptatem fuga repellat?
            Ducimus officia magni officiis corrupti asperiores delectus temporibus aperiam? Nemo accusantium minus amet impedit adipisci sed ullam quasi vitae rem eveniet praesentium voluptatibus, magnam libero culpa dolores nobis pariatur ipsam.
            Recusandae illum earum sequi nostrum quisquam quidem quas temporibus explicabo, similique minus repudiandae distinctio placeat doloremque saepe dignissimos perferendis voluptas voluptates architecto reiciendis neque! Numquam nemo dolor velit libero corporis.
            Aut, repudiandae adipisci! Magni neque eaque tempora voluptatum placeat quas debitis iste est in ad dolor perspiciatis laboriosam amet nisi reprehenderit, provident nulla exercitationem! Eligendi suscipit iure quo. Iure, vel!
            Minus, corrupti quod! Aut impedit excepturi ratione dolor eaque. Facere laborum nobis magnam. Repellat sint dolore aperiam est laboriosam accusantium? Doloribus sit in quibusdam quo exercitationem tenetur ullam maiores eum.
            Assumenda error, saepe delectus ipsa sint non vel dolore? Praesentium, voluptate deleniti minima laudantium quia, maiores temporibus accusamus ducimus doloremque rerum nobis! Laborum, quam odit consectetur inventore eius ea perferendis.
            Veritatis eaque sequi maxime aliquam iusto, id autem amet iste pariatur blanditiis consectetur expedita omnis. Enim, quam doloremque ut in quaerat temporibus ullam pariatur? Rem necessitatibus vel et quam id!
            Vel tempore incidunt sint dolore ratione error eaque velit? Rem alias natus totam perspiciatis tempora corporis ex ab repellendus ut maiores, sapiente architecto fuga hic quos? Eos eum sit blanditiis!
            Maiores nihil totam maxime repellat necessitatibus tenetur doloribus est distinctio quaerat illo odio, neque quis nulla illum, accusamus deleniti quas doloremque harum numquam ut id. Ducimus ipsum vero consectetur libero.
        </p>
        <p class="mb-5 txt-gray">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi animi suscipit corporis architecto, saepe eum, aut eligendi accusantium atque doloribus rem magnam expedita sint natus nihil quo quis omnis. Tempore!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, sint. In, aliquam repudiandae qui temporibus voluptatibus fuga numquam eaque voluptatum ex corporis ullam asperiores perspiciatis quis, a fugit nostrum quod?
            Iste, odio repudiandae totam nesciunt illo maiores ut itaque dignissimos magni doloremque eius quibusdam sapiente rerum sunt nihil ratione vitae nobis similique. Incidunt iusto eos cum! Repellendus voluptatem fuga repellat?
            Ducimus officia magni officiis corrupti asperiores delectus temporibus aperiam? Nemo accusantium minus amet impedit adipisci sed ullam quasi vitae rem eveniet praesentium voluptatibus, magnam libero culpa dolores nobis pariatur ipsam.
            Recusandae illum earum sequi nostrum quisquam quidem quas temporibus explicabo, similique minus repudiandae distinctio placeat doloremque saepe dignissimos perferendis voluptas voluptates architecto reiciendis neque! Numquam nemo dolor velit libero corporis.
            Aut, repudiandae adipisci! Magni neque eaque tempora voluptatum placeat quas debitis iste est in ad dolor perspiciatis laboriosam amet nisi reprehenderit, provident nulla exercitationem! Eligendi suscipit iure quo. Iure, vel!
            Minus, corrupti quod! Aut impedit excepturi ratione dolor eaque. Facere laborum nobis magnam. Repellat sint dolore aperiam est laboriosam accusantium? Doloribus sit in quibusdam quo exercitationem tenetur ullam maiores eum.
            Assumenda error, saepe delectus ipsa sint non vel dolore? Praesentium, voluptate deleniti minima laudantium quia, maiores temporibus accusamus ducimus doloremque rerum nobis! Laborum, quam odit consectetur inventore eius ea perferendis.
            Veritatis eaque sequi maxime aliquam iusto, id autem amet iste pariatur blanditiis consectetur expedita omnis. Enim, quam doloremque ut in quaerat temporibus ullam pariatur? Rem necessitatibus vel et quam id!
            Vel tempore incidunt sint dolore ratione error eaque velit? Rem alias natus totam perspiciatis tempora corporis ex ab repellendus ut maiores, sapiente architecto fuga hic quos? Eos eum sit blanditiis!
            Maiores nihil totam maxime repellat necessitatibus tenetur doloribus est distinctio quaerat illo odio, neque quis nulla illum, accusamus deleniti quas doloremque harum numquam ut id. Ducimus ipsum vero consectetur libero.
        </p>
        <p class="mb-5 txt-gray">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi animi suscipit corporis architecto, saepe eum, aut eligendi accusantium atque doloribus rem magnam expedita sint natus nihil quo quis omnis. Tempore!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. A, sint. In, aliquam repudiandae qui temporibus voluptatibus fuga numquam eaque voluptatum ex corporis ullam asperiores perspiciatis quis, a fugit nostrum quod?
            Iste, odio repudiandae totam nesciunt illo maiores ut itaque dignissimos magni doloremque eius quibusdam sapiente rerum sunt nihil ratione vitae nobis similique. Incidunt iusto eos cum! Repellendus voluptatem fuga repellat?
            Ducimus officia magni officiis corrupti asperiores delectus temporibus aperiam? Nemo accusantium minus amet impedit adipisci sed ullam quasi vitae rem eveniet praesentium voluptatibus, magnam libero culpa dolores nobis pariatur ipsam.
        </p>
    </div>

    <!-- JS -->
    <script src="../js/nav-mob.js"></script>


</body>
</html>