<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Slide</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/hare.css">

</head>
<body class="whitesomoke">
    
    <!-- Image Containers -->
    <div class="carousel-container" style="width: 500px; height: 500px;">
        <!-- Buttons -->
        <button class="btn blue" id="btn-prev">Prev</button>
        <button class="btn blue" id="btn-next">Next</button>
        
        <div class="carousel-slide">
            <!-- Imgs -->
            <img src="../imgs/vers-4.png" id="firstImg" alt="">
            <img src="../imgs/vers-1.png" alt="">
            <img src="../imgs/vers-2.png" alt="">
            <img src="../imgs/vers-3.png" alt="">
            <img src="../imgs/vers-4.png" alt="">
            <img src="../imgs/vers-1.png" id="lastImg" alt="">
        </div>
    </div>
    
    <script src="../js/slide.js"></script>
</body>
</html>








