<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tables</title>
    <!-- CSS -->
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="table.css">

</head>
<body class="flex jc-center">
    <table>
        <caption>Usuários</caption>
        <!-- THeaders -->
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Cidade</th>
                <th>Idade</th>
            </tr>
        </thead>

        <tbody>
        <!-- TDates -->
        <tr>
            <td>Jonh</td>
            <td>jonh12@gmail.com</td>
            <td>Ipú</td>
            <td>21</td>
        </tr>
        
        <tr>
            <td>Oliver</td>
            <td>oliver10@gmail.com</td>
            <td>Salto</td>
            <td>34</td>
        </tr>

        <tr>
            <td>Igor</td>
            <td>igor21@gmail.com</td>
            <td>São Paulo</td>
            <td>18</td>
        </tr>

        <tr>
            <td>Kauana</td>
            <td>kauana22@gmail.com</td>
            <td>Sobral</td>
            <td>27</td>
        </tr>

        </tbody>
    </table>
</body>
</html>